* {
    margin: 0;
    padding: 0;

}

header {
    font-family: Arial;
    height: 60px;
    background-color: #0F1111;
    color: white;
    display: flex;
    align-items: center;
}

nav {
    display: flex;
    align-items: center;
}



.logo img {
    height: 29px;
    width: 98px;
    padding: 0 16px;
    position: relative;
    top: 5px;
}

.border {
    border: 1.5px solid transparent;
}

.border:hover {
    border: 1px solid white;
}

/* box */

.add-first {
    color: #ccc;
    font-size: 0.85rem;


}

.add-sec {
    color: #fff;
    font-size: 1rem;
    margin-left: 3px;

}

.add-icon {
    display: flex;
    align-items: center;

}